# heading 1

In [1]:
print('Hello World!')

Hello World!

In [33]:
width=20
print('Chandra'.ljust(width,'-'))
print('Prakash'.center(width,'-'))
print('Maurya'.rjust(width,'-'))

Chandra-------------
------Prakash-------
--------------Maurya

In [6]:
var = 'cp'
var = var*2
print(var)

cpcp

In [8]:
print('chandra prakash')
var = 4**5
print(var)

chandra prakash
1024

In [15]:
x=[s**s for s in range(1,51) ]
print(x)
##squar of 1 to 50 number

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000, 285311670611, 8916100448256, 302875106592253, 11112006825558016, 437893890380859375, 18446744073709551616, 827240261886336764177, 39346408075296537575424, 1978419655660313589123979, 104857600000000000000000000, 5842587018385982521381124421, 341427877364219557396646723584, 20880467999847912034355032910567, 1333735776850284124449081472843776, 88817841970012523233890533447265625, 6156119580207157310796674288400203776, 443426488243037769948249630619149892803, 33145523113253374862572728253364605812736, 2567686153161211134561828214731016126483469, 205891132094649000000000000000000000000000000, 17069174130723235958610643029059314756044734431, 1461501637330902918203684832716283019655932542976, 129110040087761027839616029934664535539337183380513, 11756638905368616011414050501310355554617941909569536, 1102507499354148695951786433413508348166942596435546875, 106387358923716524807713475752456393740167855629859291136, 10555134955777783414078330085995832946127396083370199442517, 1075911801979993982060429252856123779115487368830416064610304, 112595147462071192539789448988889059930192105219196517009951959, 12089258196146291747061760000000000000000000000000000000000000000, 1330877630632711998713399240963346255985889330161650994325137953641, 150130937545296572356771972164254457814047970568738777235893533016064, 17343773367030267519903781288812032158308062539012091953077767198995507, 2050773823560610053645205609172376035486179836520607547294916966189367296, 248063644451341145494649182395412689744530581492654164321720600128173828125, 30680346300794274230660433647640397899788170645078853280082659754365153181696, 3877924263464448622666648186154330754898344901344205917642325627886496385062863, 500702078263459319174537025249570888246709955377400223021257741084821677152403456, 66009724686219550843768321818371771650147004059278069406814190436565131829325062449, 8881784197001252323389053344726562500000000000000000000000000000000000000000000000000]

In [25]:
x = [ chr(a) for a in range(ord('a'),ord('z')+1)]
print( x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [2]:
d=[12,13,14,15,16,17,18]
print(d)

[12, 13, 14, 15, 16, 17, 18]

In [15]:
x = int(input("please enter an integer: "))
if x < 0:
    print('Negative changed to zero')
elif x ==0:
     print('Zero')
elif x == 1:
         print('Single')
else:
         print('More')

please enter an integer: -1
Negative changed to zero

In [19]:
word = ['chandra','prakash','rohit']
for w in word:
    print(w,len(w))

chandra 7
prakash 7
rohit 5

In [28]:
for w in word [:]:
    if len(w)>6:
        word.insert(0,w)
        print(word)

['prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']
['prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit', 'rohit', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'prakash', 'chandra', 'chandra', 'prakash', 'rohit']

In [35]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [36]:
print(range(10))

range(0, 10)

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
for n in range(2,10):
    for x in range(2,n):
        if n % x == 0 :
            print(n,'equals', x, '*', n//x)
            break
        else:
                print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [34]:
def swap(a,b):
    '''
    this is swap program !
    '''
    print("chandra")
    return b,a

x=10
y=5
x,y= swap(x,y)
print ("first no is " +  str(x) + " \n" + str(y),end=" chandra \n")
print('hi')

chandra
first no is 5
10 chandra
hi

# Will be start function & some looping

In [2]:
for num in range(2,10):
    if num % 2 ==0:
        print(" found even number", num)
        continue
    print(" found odd number", num)

 found even number 2
 found odd number 3
 found even number 4
 found odd number 5
 found even number 6
 found odd number 7
 found even number 8
 found odd number 9

In [11]:
def fun(n):
    a,b = 0,1
    while a<n:
        print(a,end=' ')
        a, b = b, a+b
    print()
fun(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [4]:
dictionary = {'name':'chanda','id':100,'vau':'ram'}
print(dictionary.keys())
print(dictionary.values())

dict_keys(['name', 'id', 'vau'])
dict_values(['chanda', 100, 'ram'])

In [28]:
for x in range(1,6):
    for y in range(1,x+1):
        print(x,end=" ")
    print( )

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [29]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print('*' ,end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [30]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [36]:
a=10  
while a>0:  
    print ("Value of a is",a ,"chandra prakash")  
    a=a-2

Value of a is 10 chandra prakash
Value of a is 8 chandra prakash
Value of a is 6 chandra prakash
Value of a is 4 chandra prakash
Value of a is 2 chandra prakash

In [40]:
n=153
sum = 0
while n > 0:
    r = n%10
    sum +=r
    n = n/10
print(sum)

9.999999999999998

In [44]:
for i in [1,2,3,4,5,6,7,8,9]:
    if i==5:
        print("radeon")
        continue
    print(i)

1
2
3
4
radeon
6
7
8
9

In [43]:
for i in [1,2,3,4,5,6,7,8,9]:
    if i==5:
        print("radeon")
        break
    print(i)

1
2
3
4
radeon

In [46]:
for i in [1,2,3,4,5,6,7,8,9]:
    if i==5:
        pass
        print("radeon")
    print(i)

1
2
3
4
radeon
5
6
7
8
9

In [2]:
my_list = [1, 2, 3, "python", 67,  [4, 5]]
for item in my_list:
    print(item)

1
2
3
python
67
[4, 5]

In [4]:
def fun(n):
    a,b = 0,1
    while a<n:
        print(a,end=' ')
        a, b = b, a+b
    print()
fun(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [5]:
fun(300)

0 1 1 2 3 5 8 13 21 34 55 89 144 233

In [6]:
f= fun
f(800)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [7]:
fun

In [9]:
fun(0)
print(fun(0))

None

In [14]:
def fun2(n):
    result =[]
    a,b = 0,1
    while a<n:
        result.append(a)
        a,b = b, a+b
    return result

In [39]:
fun2(2000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [16]:
def aks(prompt , retries=4 , reminder = 'please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y','ye','yes'):
            return True
        if ok in('n','no','nop','nope'):
            return False
        retries = retries-1
        if retries < 0:
            raise ValueError('invalid user responce')
        print(reminder)

In [27]:
#call function
aks('do you really want to quit?',2,'come on, only yes or no')

do you really want to quit?y

True

In [33]:
def f(a,l=[]):
    l.append(a)
    return l
for i in range(1,11):
    print(f(i))
#print(f(2))
#print(f(3))

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
def f1(a,l=None):
    if l is None:
        l=[]
    l.append(a)
    return l
print(f1(5))

[5]

In [44]:
def f3(sex ='unknown'):
    if sex is 'm':
        sex = 'male'
    elif sex is 'f':
        sex ='female'
    print(sex)
f3('m')
f3('f')
f3()

male
female
unknown

In [56]:

# variable scope in method(function)
a= 300
def f4():
    print(a)
def f5():
    print(a)

f4()
f5()

300
300

In [61]:
# variable scope in method(function)
def f4():
    a=100
    print(a)
def f6():
    print(a)

f4()
f6()

100
300

In [64]:
def a1():
    xx=100
    print(xx)
def a2():
    print(xx)
a1()
a2()

100

NameError: name 'xx' is not defined

In [68]:
# Keyword argument method(function)
def a3(raja = 'chandra',vimal= 'prakash',baky = 'maurya'):
    print(raja , vimal, baky)
a3()
a3('bablu','singh','chutiya')
a3(baky = 'suthar',vimal ='kumar')

chandra prakash maurya
bablu singh chutiya
chandra kumar suthar

In [8]:
# Flaxible Number Of Argument method(function)
def a4(*args):
    total = 0
    for a in args:
        total += a
    print(total)
a4(3)
a4(1,2,3,4,5,6,7)
a4(33,22,44,55,66,77,88,99,0,333,222)

3
28
1039

In [20]:
#Arbitrary Argument Lists
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [21]:
#Arbitrary Argument Lists
def concat(*args, sep="/"):
    return sep.join(args)
concat("raja","babu","bhaiya")

'raja/babu/bhaiya'

In [22]:
#Arbitrary Argument Lists
concat("raja","babu","bhaiya",sep="=>")

'raja=>babu=>bhaiya'

In [23]:
 #Unpacking Argument Lists
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')  
    print("E's", state, "!")
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [30]:
def myd():
    """ Hey I am CPMaurya 
    and I am also fine 
    I expect you are also fine
    """
    pass
print(myd._doc_)

AttributeError: 'function' object has no attribute '_doc_'

In [47]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count("banana"))
print(fruits.index("banana"))
print(fruits.index("banana",4))
fruits.reverse()
print(fruits)
fruits.append("grape")
print(fruits)
fruits.sort()
print(fruits)
fruits.pop()
print(fruits)

2
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [48]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.popleft()
queue

deque(['John', 'Michael'])

In [2]:
# Anonymous Function & lambda function
# syntax = lambda arg1,arg2,arg3 : expression
squer = lambda x1 : x1*x1
print("calling of lambda function:= ", squer(10))

calling of lambda function:=  100

# List Study

In [3]:
data1=[1,2,3,4];  
data2=['x','y','z'];  
data3=[12.5,11.6];  
data4=['raman','rahul'];  
data5=[];  
data6=['abhinav',10,56.4,'a'];

In [7]:
print(data1[0])
print(data1[0:2])
print(data2[-3:-1])
print(data1[::-1])

1
[1, 2]
['x', 'y']
[4, 3, 2, 1]

In [4]:
# Indexes method in list
# Syntax = index(object)
data = [786,'abc','a',123.5]
print(data.index(786))
print(data.index('a'))

0
2

In [5]:
# count method in list
# syntax = count(object)
data = [786,'abc','a',123.5,786,'rahul','b',786]  
print(data.count(786))
print(data.count('rahul'))

3
1

In [6]:
# extend method in  list
# Syntax = extend(sequence)
data1=['abc',123,10.5,'a']  
data2=['ram',541]  
data1.extend(data2)
print(data1)
print(data2)

['abc', 123, 10.5, 'a', 'ram', 541]
['ram', 541]

In [8]:
# remove method in list
# Syntax = remove(object)
data1=['abc',123,10.5,'a','xyz']  
data1.remove(123)
print(data1)

['abc', 10.5, 'a', 'xyz']

In [12]:
#  reverse method in list
# Syntax =  reverse()
list1=[10,20,30,40,50] 
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [14]:
list1=[20,90,40,50,30]
list1.sort()
print(list1)

[20, 30, 40, 50, 90]

# String Study

In [1]:
# Strings Operators

"""There are basically 3 types of Operators supported by String:

1.Basic Operators.('+','*')
2.Membership Operators.
3.Relational Operators.(<,><=,>=,==,!=,<>)"""

"There are basically 3 types of Operators supported by String:\n\n1.Basic Operators.('+','*')\n2.Membership Operators.\n3.Relational Operators.(<,><=,>=,==,!=,<>)"

In [8]:
cpm = {"anand ","prakash ","is ","of ","cpmaurya"}
print(cpm)

{'prakash ', 'of ', 'anand ', 'cpmaurya', 'is '}

In [9]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [14]:
print('Hash for 181.23 is:',hash(181.23))
vowels = ('a', 'e', 'i', 'o', 'u')

print('The hash is:', hash(vowels))

Hash for 181.23 is: 579773580
The hash is: -486857366

In [21]:

print('abc'.capitalize())

Abc

In [29]:
msg = "welcome to python"
print(msg.count('o'))
print(msg.count('o',4,16))

3
3

In [38]:
str="Welcome to SSSIT";  
substr1="come";  
substr2="to";  
print (str.find(substr1));  
print (str.find(substr2));  
print (str.find(substr1,3,10));  
print (str.find(substr2,19));

3
8
3
-1

In [40]:
str2="Welcome to sssit";  
print(str2.isalnum());  
str1="Python47";  
print(str1.isalnum());

False
True

In [42]:
string1="HelloPython";    # Even space is not allowed  
print (string1.isalpha());  
string2="This is Python2.7.4"  
print (string2.isalpha());

True
False

In [43]:
string1="HelloPython";   
print (string1.isdigit());  
string2="98564738"  
print (string2.isdigit());

False
True

In [44]:
string1="Hello Python";   
print (string1.lower());  
string2="WELCOME TO SSSIT"  
print (string2.lower());

hello python
welcome to sssit

In [45]:
string1="Hello Python";   
print (string1.upper())  
string2="welcome to SSSIT"  
print (string2.upper())

HELLO PYTHON
WELCOME TO SSSIT

In [46]:
string1="Hello Python";   
print (string1.swapcase())  
string2="welcome to SSSIT"  
print (string2.swapcase())

hELLO pYTHON
WELCOME TO sssit

In [50]:
string2="@@@@@@@@welcome to SSSIT"  
print (string2.lstrip('@'))

welcome to SSSIT



# Study Tuples

In [5]:
"""A tuple is a sequence of immutable objects, therefore tuple cannot be changed.

The objects are enclosed within parenthesis and separated by comma."""

data = (10.2,'maurya',22)
data2 = data,(10,20,'ravi')
data3 = 'vimal',30,40
print(data)
print(data2)
print(data3)

(10.2, 'maurya', 22)
((10.2, 'maurya', 22), (10, 20, 'ravi'))
('vimal', 30, 40)

In [9]:
tuple1 = ()
print(tuple1)
tuple2 = (10,)  #remove comma and run again , now see output
print(tuple2)

()
(10,)

In [59]:
n = int(input())
integer_list = tuple(map(int, input().split()))
print(hash(integer_list))

2
1 2
1299869600

In [11]:
#Accessing Tuple
tuple3=(10,20,30,'x','y','z')
print(tuple3[0])
print(tuple3[::-1])

10
('z', 'y', 'x', 30, 20, 10)


# Python modulse :

In [1]:
import math
math.sqrt(4)

2.0

In [3]:
4/3

1.3333333333333333

In [4]:
4%3

1

In [8]:
for i in range(1,4):
    print(i,end='')

123

In [24]:
n=int(input())
if n%2!=0:
    print("weird")
if n%2==0:
    print("not weird")

5
weird

In [46]:
#Replace all ______ with rjust, ljust or center. 

thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))    

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))    

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

5
    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

# TextWrap

In [42]:
#using wrap()

import textwrap
string = "This is a very very very very very long string." 
print (textwrap.wrap(string,8))

['This is', 'a very', 'very', 'very', 'very', 'very', 'long', 'string.']

In [43]:
#using fill()

import textwrap
string = "This is a very very very very very long string."
print (textwrap.fill(string,8))

This is
a very
very
very
very
very
long
string.

In [49]:
import textwrap
a=input()
b=int(input())
print (textwrap.fill(a,b))

abcdefghijklmnopqrstuvwxyz
2
ab
cd
ef
gh
ij
kl
mn
op
qr
st
uv
wx
yz

In [52]:
N, M = map(int,input().split()) 
for i in range(1,N,2): 
    print(str('.|.' * i).center(M, '-'))
print('WELCOME'.center(M, '-'))
for i in range(N-2,-1,-2): 
    print(str('.|.' * i).center(M, '-'))

7 20
--------.|.---------
-----.|..|..|.------
--.|..|..|..|..|.---
------WELCOME-------
--.|..|..|..|..|.---
-----.|..|..|.------
--------.|.---------

In [57]:
N=int(input())
width = len('{:b}'.format(N))
for i in range(1, N+1):
    print (str.rjust(str(i), width),\
    str.rjust('{:o}'.format(i), width),\
    str.rjust('{:X}'.format(i), width),\
    str.rjust('{:b}'.format(i), width))

17
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [1]:
import math  
a=4.6  
print (math.ceil(a))  
print (math.floor(a))  
b=9  
print (math.sqrt(b))  
print (math.exp(3.0))  
print (math.log(2.0))  
print (math.pow(2.0,3.0))  
print (math.sin(0))  
print (math.cos(0))
print (math.tan(45))

5
4
3.0
20.085536923187668
0.6931471805599453
8.0
0.0
1.0
1.6197751905438615

In [2]:
import math  
print (math.pi)  
print (math.e)

3.141592653589793
2.718281828459045

# Python Date

In [4]:
import time
cp=time.localtime(time.time())
print("real time is",localtime)

real time is time.struct_time(tm_year=2017, tm_mon=8, tm_mday=21, tm_hour=23, tm_min=3, tm_sec=11, tm_wday=0, tm_yday=233, tm_isdst=0)

In [8]:
import time
cp = time.asctime(time.localtime(time.time()))
print("current time is:",cp)
time.sleep(10)
cp = time.asctime(time.localtime(time.time()))
print("current time is:",cp)

current time is: Mon Aug 21 23:14:47 2017
current time is: Mon Aug 21 23:14:57 2017

In [9]:
import time 
print(time.gmtime())

time.struct_time(tm_year=2017, tm_mon=8, tm_mday=21, tm_hour=17, tm_min=48, tm_sec=52, tm_wday=0, tm_yday=233, tm_isdst=0)

In [14]:
import calendar
print('calendar is :')
cal = calendar.month(2017,8)
print(cal)

calendar is :
    August 2017
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [24]:
import calendar
print('This year calendar is:')
cal = calendar.prcal(2018)
print(cal)

This year calendar is:
                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

None

In [16]:
import calendar  
print(calendar.isleap(2000) )

True

In [18]:
import calendar  
m = calendar.monthcalendar(2017,8)
print(m)

[[0, 1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12, 13], [14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27], [28, 29, 30, 31, 0, 0, 0]]

# Input/Output

In [5]:
n = input("enter some number")
print("your entered expretion",n)

enter some numbercp
your entered expretion cp

In [7]:
n = raw_input("enter some number");
print("your entered expretion",n)

NameError: name 'raw_input' is not defined

In [14]:
for i in range(1,11):
    print(repr(i).rjust(2), repr(i*i).rjust(3), end ='')
    print(repr(i*i*i).rjust(4))

 1   1   1
 2   4   8
 3   9  27
 4  16  64
 5  25 125
 6  36 216
 7  49 343
 8  64 512
 9  81 729
10 1001000

In [11]:
for x in range(1,11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [18]:
print('12'.zfill(5))
print('12'.zfill(10))
print('12'.zfill(15))

00012
0000000012
000000000000012

In [25]:
print("my first name {} and last name {!r} ".format("chandra","prakash"))
print("{0} and {1}".format("chandra ","prakash"))
print("{1} and {0}".format("chandra ","prakash"))
print("{1} and {0} and {other}".format("chandra ","prakash",other='maurya'))

my first name chandra and last name 'prakash'
chandra  and prakash
prakash and chandra
prakash and chandra  and maurya

In [33]:
obj=open("abcd.txt","w")
obj.write("Welcome to the world of Python")  
obj.close()  
obj1=open("abcd.txt","r")  
s=obj1.read() 
print(s)
obj1.close()
obj2=open("abcd.txt","r")
s1=obj2.read(20)
print(s1)
obj2.close()
print(obj.name)

Welcome to the world of Python
Welcome to the world
abcd.txt

# Exception Handling